table {
  border-collapse: collapse;
  margin: 5em auto;
}

td {
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 4em;
  padding-left: 20px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.btn-container {
  width: 300px;
  margin: 10em auto 0 auto;
  text-align: center;
  padding: 2em;
}

.btn-container button {
  margin-bottom: 20px;
}

.container-history {
  width: 300px;
  margin-top: 3em;
  height: 400px;
  overflow-y: auto;
  padding-left: 2em;
  padding-bottom: 30px;
}

.history-title {
  font-size: 2em;
  text-align: center;
}
